<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation Form In JavaScript</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">
    <script type="text/JavaScript" src="/js/script.js"> </script>
</head>
<style>
     ::-webkit-scrollbar{
display: none;
 }
</style>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    <div class="container" onSubmit="return validation();">
        <h1>UPLOAD!</h1>

        <form style="margin-top: -7rem;" name="registration" method="POST" action="/formupload">
            <label for="Iname"></label>
            <input type ="text" class="Iname" name="item" placeholder="item name">
            <label for="Iprice"></label>
            <input type ="number" class="Iprice" name="price" placeholder="item price">
            <label for="Oname"></label>
            <input type ="text" class="Oname" name="owner" placeholder="owner">
            <input type="text" name="image" class="image" placeholder="Image Address"> <br><br><br>
            <textarea class="Description" name="Description" rows="4" cols="50"></textarea>
            <button type="submit" class="button">Submit</button>
            
        </form>

    </div>
       
    
</body>
</html>



<!--<form name="registration" method="POST" action="/formupload">
    <label>image</label>
    <input type="file" name="image" id="image">
    <label for="fname"></label><br>
    <input type ="text" class="fname" name="item" placeholder="item name"><br>
    <label for="lname"></label><br>
    <input type ="text" class="lname" name="price" placeholder="item price"><br>
    <label for="email"></label><br>
    <input type ="text" class="email" name="owner" placeholder="owner"><br>
    <label for="mnumber"></label><br>
    <input type ="text" class="mnumber" name="info" placeholder="Decription"><br>
    <button type="submit" class="button">Submit</button>
</form>-->

